@import "tailwindcss";

@theme {
  /* Creates class: font-chopsticks */
  --font-chopsticks: var(--font-chopsticks); 
  
  /* Creates class: font-martian */
  --font-martian: var(--font-martian);

  /* Colors */
  --color-flick-bg: #F2F2F2;
  --color-flick-lime: #DDEB51;
  --color-flick-white: #FFFFFF;
}

body {
  background-color: var(--color-flick-bg);
  color: black;
  font-family: var(--font-martian); 
}